* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.link {
    text-decoration: none;
}
.list-style-none {
    list-style-type: none;
}
.shadow {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.d-block {
    display: block;
}
.sticky {
    position: sticky;
}
.top-0 {
    top: 0;
}
.flex {
    display: flex;
}
.dir-row {
    flex-direction: row;
}
.dir-col {
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.p-10 {
    padding: 10px;
}
.p-l {
    padding-left: 20px;
}
.p-t {
    padding-top: 20px;
}
.p-l-10 {
    padding-left: 10%;
}
.p-r-10 {
    padding-right: 10%;
}
.m-t {
    margin-top: 20px;
}
.m-t40 {
    margin-top: 40px;
}
.m-t10 {
    margin-top: 10px;
} 
.m-r10 {
    margin-right: 10px;
}
.m-l10 {
    margin-left: 10px;
}
.m-b {
    margin-bottom: 20px;
}
.p-t10 {
    padding-top: 10px;
}
.p-r10 {
    padding-right: 10px;
}
.p-l10 {
    padding-left: 10px;
}
.text {
    font-size: 4rem;
}
.text1 {
    font-size: 2.5rem;
}
.text2 {
    font-size: 2rem;
}
.text3 {
    font-size: 1.5rem;
}
.text4 {
    font-size: 1rem;
}
.text5 {
    font-size: .75rem;
}
.text-primary-color {
    color: #fafafa;
}
.text-secondary-color {
    color: #d1d5db;
}
.strike {
    text-decoration: line-through;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
.weight-600 {
    font-weight: 600;
}
.text-center {
    text-align: center;
}
.border-none {
    border: none;
}
.outline-none {
    outline: none;
}
.bg-transparent {
    background-color: transparent;
}
.hide {
    display: none;
}
.float-r {
    float: right;
}
.float-l {
    float: left;
}
.v-visibility {
    visibility: visible;
}
.h-visibility {
    visibility: hidden;
}
.cursor {
    cursor: pointer;
}
.text-align-left {
    text-align: left;
}
button {
    margin-left: 5px;
}
.main{
    background-color: #083344;
}
.back-black {
    background-color: #0a0a0a;
}
.back-orange {
    background-color: orange;
}
.back-red {
    background-color: #be123c;
}
.input {
    border-bottom: 1px solid #fafafa;
    width: 70%;
    padding: 5px;
}
.border-5 {
    border-radius: 5px;
}
.width-40 {
    width: 40vw;
}
.todoDel {
    width: 1.5rem;
    height: 1.5rem;
}
.todo-form {
    padding-top: 30px;
    padding-bottom: 30px;
}
.width-10 {
    width: 10%;
}
.labels {
    margin: 5px;
    width: 80%;
}
.inpCheck {
    margin: 5px;
    height: 20px;
}
.width-80 {
    width: 80%;
}
.back-292524{
    background-color: #292524;
}    
.tasklistcontainer {
    margin-right: 10%;
    margin-bottom: 5px;
}